
/* 기본 값
/* ------------------------------------------------------------------------ */
@font-face {
	src: url(/1st_project/src/font/a신디나루M.ttf);
	font-family: "main-font";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter', sans-serif; */
	font-family: "main-font";
	font-size: 25px;
	font-weight: 600;
	cursor: url(/1st_project/src/cur/B.cur), url(/1st_project/src/cur/A.cur), auto
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	text-decoration-line: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
	border: none;
	background-color: transparent;
}

body {
	background-image: url(/1st_project/src/img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px;
}

main {
	width: 1820px;
	height: 950px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 50px 50px 0px;
	position: relative;
	/* z-index: -1; */
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
	outline: none;
	border: none;
}
/* ------------------------------------------------------------------------ */



/* 레이아웃 구분 */
/* ------------------------------------------------------------------------ */
.header {
	
	background-color: rgba(100, 161, 233, 1);
	width: 100%;
	height: 90px;
	border-radius: 0px 50px 0px 0px;
	position: absolute;
	top: 0px;
	/* z-index: -2; */
}

.header h1 {
	display: inline-block;
	margin-left: 60px;
	line-height: 90px;
	font-size: 35px;
	color: rgba(255, 255, 255, 0.5);
}

.header h1:hover {
	color: #fff;
}


.side-left {
	padding: 40px 45px 45px 50px;
	width: 440px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
}

.side-left-box {
	width: 340px;
	height: 775px;
}

.date-label {
	position: relative;
}

.date-btn {
	position: absolute;
	top: -8px;
	right: 20px;
}

.date-btn img {
	width: 40px;
	opacity: 0.2;
}

.date-btn img:hover {
	opacity: 1;
}

.date-box {
	width: 340px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	color: #57BCA9;
}

.date-box:focus {
	background-color: #57bca9;
	color: #fff;
	border: none;
	outline: none;
}


/* input[type='date'] {
	position: relative;
} */

.date-box[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}

/* .date-box[type='date']::before {
	content: attr(placeholder);
	height: 100%;
	} */

/* .date-box[type='date']:valid::before {
	display: none;
} */

/* input[type='date']::before {
	content: attr(placeholder);
	height: 100%;
} */
/* ------------------------------------------------------------------------ */



/* 좌측 */
/* ------------------------------------------------------------------------ */
.side-left-line-1 {
	margin: auto;
	margin-top: 30px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

.side-left-on {
	margin-top: 30px;
	background-image: url(/1st_project/src/img/btn-on.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: #57BCA9;
}

.side-left-off {
	margin-top: 25px;
	background-image: url(/1st_project/src/img/btn-off.png);
	height: 91px;
	text-align: center;
	line-height: 91px;
	color: rgba(0, 0, 0, 0.5);
}
.side-left-on:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.side-left-off:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}
.side-left-page:hover {
	background-image: url(/1st_project/src/img/btn-on.png);
	color: #57BCA9;
}

.side-left-line-2 {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 140px;
	border: 3px solid #57BCA9;
	border-radius: 5px;
}

/* .side-left-box-category {
	margin-top: 15px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid #57BCA9;
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
} */

/* .category-box {
	margin-top: 20px;
	width: 340px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid rgba(100, 161, 233, 1);
	text-align: center;
	line-height: 43px;
	color: #57BCA9;
	display: inline-block;
} */
.category-box {
	margin-top: 20px;
	width: 340px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 3px solid rgba(100, 161, 233, 1);
	text-align: center;
	line-height: 43px;
	/* color: #57BCA9; */
	display: inline-block;
	background-image: url(/1st_project/src/icon/insert1.png);
	background-size: 240px;
	background-repeat: no-repeat;
	background-position: center;
	
	
}

input[type="radio"] {
    display: none; /* 라디오 버튼 숨김 */
}

input[type="radio"]:checked + label {
    background-color:#57BCA9;
	color: #fff;
}

.category-box:hover {
    background-color:rgba(100, 161, 233, 1);
	color: #fff;
}
/* ------------------------------------------------------------------------ */



/* 중앙 */
/* ------------------------------------------------------------------------ */

.content {
	position: absolute;
	top: 90px; 
	left: 440px;
	padding: 40px 30px;
}

.content-box {
	width: 870px;
	height: 780px;
}

.content-date-box {
	width: 870px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	text-align: center;
	line-height: 100px;
	font-size: 35px;
	cursor: pointer;
}

.content-date-box>input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	width: 870px;
	height: 100px;
	background: transparent;
	color: transparent;
	cursor: pointer;
}
.content-date-box input {
	min-width: 50%;
	text-align: center;
	font-size: 40px;
	line-height: 100px;
	color: #57BCA9;
} 

.content-date-box > input {
	cursor: pointer;
	text-align: center;
}
.content-date-box:hover {
	background-color: rgb(255, 255, 255, 0.8);
}
.content-date-box > input:hover {
	color: rgba(100, 161, 233, 1);
}

.content-title-box {
	margin-top: 37px;
	height: 100px;
}
.content-title-box1 {
	width: 150px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	margin-right: 10px;
	font-size: 30px;
	
}
.content-title-box2 {
	width: 700px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	border-radius: 30px;
	padding: 20px;
	opacity: 10;
}
.content-title-box2:focus {
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}
/* .content-title-box2:hover {
	background-color: #fffffff7;
} */
.content-memo-box {
	margin-top: 37px;
	height: 100px;
}
.content-memo-box1 {
	width: 150px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	line-height: 100px;
	margin-right: 10px;
	font-size: 30px;
	
}

.content-memo-box2 {
	resize:none;
	width: 700px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	border-radius: 30px;
	border: none;
	vertical-align:middle;
	opacity: 10;
}
/* .content-memo-box2:hover {
	background-color: #fffffff7;
} */
textarea {
	padding-left: 20px;
	padding-top: 35px;
}
textarea:focus{
	outline: none;
	background-color: rgb(255, 255, 255, 0.8);
}

.content-value-box {
	width: 870px;
	height: 230px;
}
.content-category {
	width: 420px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	border: none;
	margin-top: 37px;
	appearance: none;
	font-size: 30px;
}

.content-category:hover {
	background-color: rgb(255, 255, 255, 0.8);
	color: rgba(100, 161, 233, 1);
}

select:focus {outline:none;}

select:hover {
	border-color: rgba(100, 161, 233, 1);
  }

.content-category-money {
	width: 420px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #000;
	line-height: 100px;
	text-align: center;
	border-radius: 30px;
	margin-top: 30px;
}
input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
input:focus {outline: none;}

textarea:focus {outline: none;}

.content-category-money input {
	text-align: center;
	width: 420px;
	height: 100px;
	border-radius: 30px;
}
.content-category-money > input:focus {
	background-color: rgb(255, 255, 255, 0.8);
}
.content-float1 {
	float: left;
}
.content-float2 {
	float: left;
	width: 420px;
	height: 230px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	font-size: 40px;
	border-radius: 30px;
	text-align: center;
	margin-top: 37px;
	margin-left: 30px;
	line-height: 150px;
}
.content-float2 > p {
	height: 80px;
	font-size: 60px;
	color: rgba(228, 91, 91, 0.89);
	/* text-align: center; */
}

.content-button {
	width: 870px;
	height: 200px;
	float: left;
}
button{
	border:none;
}

.content-button-go {
	float: left;
	width: 260px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	line-height: 100px;
	margin: 30px auto;
	margin-left: 160px;
	font-size: 35px;
}
.content-button-go:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(100, 161, 233, 1);
}
.content-button-back {
	float: left;
	width: 260px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	color: #57BCA9;
	text-align: center;
	border-radius: 30px;
	line-height: 100px;
	margin: 30px auto;
	margin-left: 30px;
	font-size: 35px;
}
.content-button-back:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgba(100, 161, 233, 1);
}
/* ------------------------------------------------------------------------ */


/* 우측 */
/* ------------------------------------------------------------------------ */

.side-right {
	padding: 40px 40px 45px 55px;
	width: 450px;
	height: 860px; 
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 50px 0px;
	position: absolute;
	top: 90px; 
	/* z-index: -3; */
	left: 1370px;
}

.side-right-box {
	width: 340px;
	height: 770px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50px 50px 50px 50px;
	border: 1px solid rgba(100, 161, 233, 1);
}

.side-right-top {
	margin: auto;
	/* margin-left: 20px; */
	margin-top: 30px;
	width: 330px;
	height: 90px;
	background-image: url(/1st_project/src/img/result.png);
	text-align: center;
	line-height: 90px;
	font-size: 40px;
	color: #487bd9;
}

.side-right-character {
	width: 240px;
	height: 400px;
	margin: auto;
}

.side-right-character-1 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/1.png);
}

.side-right-character-2 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/2.png);
}

.side-right-character-3 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/3.png);
}

.side-right-character-4 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/4.png);
}

.side-right-character-5 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/5.png);
}

.side-right-character-6 {
	margin: auto;
	margin-top: 10px;
	width: 250px;
	height: 400px;
	background-repeat: no-repeat;
	background-size:contain;
	background-image: url(/1st_project/src/img/character/6.png);
}

.side-right-bottom {
	margin-top: 30px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

progress {
	margin-top: 10px;
	width: 300px;
	height: 35px;
	color: #2ecc71;
	margin-bottom: 20px;
}

progress[value]::-webkit-progress-bar{
	background-color: whitesmoke;
	box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

#progress {
    appearance: none;
}

#progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
	background-image: linear-gradient(to left, #2ecc71, #3498db);
}

/* ------------------------------------------------------------------------ */
/* 공통 사항 추가 부분 */
.content-td-color {
	background-color: rgba(87, 188, 169, 0.8);
	color: #fff;
	font-size: 30px;
}

.gap {
	padding-top: 8px;
}

.category-box-select {
	background-color: #57BCA9;
	color: #fff;
}

.p_gpa {
	margin-top: 10px;
}

.danger {
	color: tomato;
}

.failure {
	color: red;
}

.small {
	font-size: 20px;
}

.small {
	font-size: 20px;
	line-height: 20px;
	color: #57BCA9;
}

.bar {
	margin: auto;
	width: 230px;
	margin-top: 7px;
	border: 1px solid #57BCA9;
}

.side-right-user {
	margin: auto;
	width: 300px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #57bca934;
	border-radius: 30px;
	box-shadow: 0 14px 28px rgba(107, 107, 107, 0.1), 0 10px 10px rgba(117, 117, 117, 0.1);
}